{% extends 'base.html.twig' %}

{% block title %}Edit Eleve{% endblock %}

{% block body %}


    <div style ="display:flex;align-items: center;justify-content: center; margin-top: 150px;">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Edit Eleve</h5>

                <!-- General Form Elements -->
                {{ form_start(form) }}
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-4 col-form-label">Nom</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.nom,{'att':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-4 col-form-label">Prenom</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.prenom,{'att':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-4 col-form-label">Age</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.age,{'att':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-4 col-form-label">Idp</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.idp,{'att':{'class':'form-control'}}) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-4 col-form-label">Idj</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.idj,{'att':{'class':'form-control'}}) }}
                    </div>
                </div>


                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Update</label>
                    <div class="col-sm-10">
                        {{ form_widget(form.ajouter,{'att':{'class':'btn btn-primary'}}) }}

                    </div>
                </div>

                {{ form_end(form) }}<!-- End General Form Elements -->

            </div>
        </div>

        {% endblock %}
