

{% extends 'base_admin.html.twig' %}



{% block title %}Produit index{% endblock %}

{% block body %}



    <input type="text" id="search" name="search" class="form-control" placeholder="Search">
    <script src="{{ asset('js/jquery.min.js') }}"></script>



    <table class="table" id="tableac">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Quantite</th>
            <th>Image</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.quantite }}</td>
                <td><img src="{{ asset('uploads/'~produit.image) }}"width="120" height="120     "></td>
                <td>
                    <a href="{{ path('app_produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('app_produit_edit', {'id': produit.id})}}">edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}







        <script>
            $(document).ready(function(){
                $('#search').keyup(function(){
                    search_table($(this).val());
                });
                function search_table(value){
                    $('#tableac tbody tr').each(function(){
                        var found = 'false';
                        $(this).each(function(){
                            if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                            {
                                found = 'true';
                            }
                        });
                        if(found == 'true')
                        {
                            $(this).show();

                        }
                        else
                        {
                            $(this).hide();

                        }
                    });
                }
            });
        </script>




        </tbody>
    </table>

    <a href="{{ path('app_produit_new') }}">Create new</a>
{% endblock %}





