{% extends 'dashbase.html.twig' %}

{% block content %}


    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row">
                <div class="col-xl-3"><h6 class="m-0 font-weight-bold text-primary">Publication list</h6></div>
                <div class="offset-md-6 col-xl-3"><a href="{{ path('new_Pub' )}}" class="btn btn-google btn-block"> Add New Publication
                    </a></div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>titre</th>
                        <th>description</th>
                        <th>nbLike</th>
                        <th>nbDislike</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>titre</th>
                        <th>description</th>
                        <th>nbLike</th>
                        <th>nbDislike</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for participation in pubs %}
                    <tr>
                        <td>{{ participation.titre }}</td>
                        <td>{{ participation.description }}</td>
                        <td>{{ participation.nbLike }}</td>
                        <td>{{ participation.nbDislike}}</td>
                        <td>
                            <a href="{{ path('delete_pub', { 'id': participation.id } )}}" class="btn btn-danger btn-circle">
                                <i class="fas fa-trash"></i>
                            </a>
                            <a href="{{ path('update_pub', { 'id': participation.id } )}}" class="btn btn-warning btn-circle">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>

                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}